.form {
    background-color: transparent;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 2rem 2rem;
}
.form__section{
    border: none;
}
.form__title{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2.5rem;
    color: black;
}
.form__checkbox{
    padding-top: 1rem;
}
.form__label{
    display: none;
}
.form__input{
    border:none;
    border-bottom: 1px solid #BDBDBD;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    width: 70%;
    font-size: var(--unit-s);
    resize:none
}

.form__input::placeholder{
    text-transform: uppercase;
    font-family: var(--font-family-subtitle-btn);
    font-size: var(--unit-xs);
    color: grey;
}
.form__input:focus{
    outline: none;
    border-bottom: 2px solid green;
}
.form__input:active{
    outline: none;
    border-bottom: 3px dashed green;
}
