*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
:root{
    --font-family-subtitle-btn: sans-serif, fantasy;
    --font-family-text-title:"Arial", sans-serif;
    --unit-xs:0.9rem;   /*14px*/
    --unit-s:1.1rem;    /*18px*/
    --unit-m:1.5rem;    /*24px*/
    --unit-l:1.9rem;    /*30px*/
    --unit-xl:2.25rem;  /*36px*/
    --second-color: grey;
    --white: #FFFFFF;
    --hover: #1a4180;
    --text-color: #1e1919;
    --base-color: #19cc19;
    --dark-base-color: green;
    --background-color: #BDECB6;

}

.wrapper{
    height: 100%;
    width: 100%;
}
.section__title{
    display: none;
}
main {
    flex: auto;
}
li a,button {
    font-family: var(--font-family-subtitle-btn);
}
p,h2,ul, h1 {
    font-family: var(--font-family-text-title);
}

li a, button{
    font-size: var(--unit-xs);
}
h3{
    font-size: var(--unit-l);
}
h4{
    font-size: var(--unit-m);
}
p, ul{
    font-size: var(--unit-s);
}
h2{
    font-size: var(--unit-xl);
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 0.9rem;
}
a{
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}
a:hover{
    color: var(--base-color);
    transition: 0.5s;
}
a {
    color: inherit;
}
button:hover{
    cursor: pointer;
}
